body{
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
input, textarea, select { 
    font-family:inherit; 
}
.header{
    width:auto;
    height:90px;
    /* text-align:justify; */
    background-color: #a39e9e;
    color: #FFFFFF;


}
#name{
    width:auto;
    height:45px;
    font-size: 30px;
    /* text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    text-align-last: justify; */
}
.line{
    width:auto;
    height: 2px;
    background-color: white;
}
.func{
    width:auto;
    height:30px;
    margin-top: 7px;
}
#left,#right{
    width:auto;
    height:25px;
}
#left{
    text-align: left;
    width: 60%;
    height: auto;
    float: left;
}
#right{
    text-align: right;
    width: 40%;
    height: auto;
    float: left;
}
#button{
    font-size: 18px;
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    width: 120px;
    height: 30px;
    color: #FFFFFF;
    background-color: #a39e9e;
    border: none;
}
#button:hover {
    background-color:rgba(235,237,236,0.4);
    color: white;
  }
a{
    text-decoration: none;
}
.content{
    width: auto;
    height: 800px;
    background-color: white;
}
.main{
    width: 75%;
    height: 600px;
    background-color: rgb(248,248,248);
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 50px;
}
.adition{
    width: 18%;
    height: 250px;
    background-color: rgb(248,248,248);
    margin-top: 50px;
    float: left;
}
.icon{
    width: auto;
    height: auto;
}
/* 選課系統的下拉式選單 */

.subject { 
    color:#FFFFFF; 
    background-color:#a39e9e;
    cursor:pointer; 
    display:inline-block; 
    padding:5px; 
    margin:0px;
    width: 110px; 
    height: auto; 
    text-align:center;
} /* 主選單的樣式 */
.subject:hover { 
    background-color:rgba(235,237,236,0.4);  
}
.submenu { 
    color:black; 
    background-color:rgba(235,237,236,0.4); 
    margin:5px -5px; 
    padding:0px; 
    position:absolute; 
} /* 下拉清單的樣式 */
.submenu li { 
    padding: 3px 5px; 
    text-align:center; 
    
} /* 下拉清單每一列的樣式 */
.submenu li:hover { 
    color:black; 
    background-color:rgba(235,237,236,0.4); 
}
.submenu a { 
    text-align:center; 
    display:block; 
    text-decoration:none; 
    color:black; 
    width: 110px; 
}
.submenu a:hover { 
    color:black; 
    background-color:rgba(235,237,236,0.4); 
}

/*table框線設置*/
table{
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}
table,th,td{
    border:1px solid white;
}

.color1{
    background-color:#8a8484;
    color: white;
    text-align: center;
}
.color2{
    background-color:#dadada;
}
.color3{
    background-color:#f2f4f6;
}
.grayline{
    border:1px solid #dadada;
}
.littlegrayline{
    border:1px solid rgb(248,248,248);
}
/* select/search table樣式 */
.pform{
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 30px;
}
#smallfont{
    font-size: 12px;
}
/* chose/course表單樣式 */
.course{
    width:80%;
    height:50%;
    line-height: 10px;
    margin-left:10%;
}
select,input{
    font-size: 15px;
    padding:5px;
    width:90%;
    text-align: center;
    text-align-last: center;
}
#buttonv2{
    font-size: 18px;
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
    width: 120px;
    height: 30px;
    color: #FFFFFF;
    background-color: #a39e9e;
    border: none;
}
#buttonv2:hover {
    background-color:rgba(118, 122, 120, 0.452);
    color: white;
}
/* 課程內容content樣式 */
.cid_content{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 30px;
}

/* 懸浮收縮面板 */
#mwt_mwt_slider_scroll
{
    top: 13%;
    /* left:-360px; */
    right:-300px;
    width:300px;
    position:fixed;
    z-index:9999;
}

#mwt_slider_content{
    background:rgb(248,248,248);
    text-align:center;
    padding-top:20px;
    height: auto;
    padding-bottom: 20px;
}

#mwt_fb_tab {
    position:absolute;
    top:30%;
    /* right:-24px; */
    left:-30px;
    width:30px;
    background:rgb(248,248,248);
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    padding:9px 0;

    /* -moz-border-radius-topright:10px;
    -moz-border-radius-bottomright:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;     */
    -moz-border-radius-topleft:10px;
    -moz-border-radius-bottomleft:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;  
}
#mwt_fb_tab span {
    display:block;
    height:15px;
    padding:1px 0;
    line-height:15px;
    text-transform:uppercase;
    font-size:15px;
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
}
/* 第二個懸浮 */
#mwt_mwt_slider_scroll2
{
    top: 13%;
    /* left:-360px; */
    right:-300px;
    width:300px;
    position:fixed;
    z-index:9999;
}

#mwt_slider_content2{
    background:rgb(248,248,248);
    text-align:center;
    padding-top:20px;
    height: auto;
    padding-bottom: 20px;
}

#mwt_fb_tab2 {
    position:absolute;
    top:60%;
    
    /* right:-24px; */
    left:-30px;
    width:30px;
    background:rgb(248,248,248);
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    padding:9px 0;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-bottomleft:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;  
}
#mwt_fb_tab2 span {
    display:block;
    height:15px;
    padding:1px 0;
    line-height:15px;
    text-transform:uppercase;
    font-size:15px;
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
}
/* 第三個懸浮 */
#mwt_mwt_slider_scroll3
{
    top: 13%;
    /* left:-360px; */
    right:-300px;
    width:300px;
    position:fixed;
    z-index:9999;
}

#mwt_slider_content3{
    background:rgb(248,248,248);
    text-align:center;
    padding-top:20px;
    height: auto;
    padding-bottom: 20px;
}

#mwt_fb_tab3 {
    position:absolute;
    top:90%;
    /* right:-24px; */
    left:-30px;
    width:30px;
    background:rgb(248,248,248);
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    padding:9px 0;

    /* -moz-border-radius-topright:10px;
    -moz-border-radius-bottomright:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;     */
    -moz-border-radius-topleft:10px;
    -moz-border-radius-bottomleft:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;  
}
#mwt_fb_tab3 span {
    display:block;
    height:15px;
    padding:1px 0;
    line-height:15px;
    text-transform:uppercase;
    font-size:15px;
    font-family: PingFangSC-Regular, Verdana, Arial, 微软雅黑, 宋体;
}